{% extends "base.html" %}
{% block h1_header %}
{% endblock h1_header %}
{% block main %}
<a href={% url "crear_auto" %}>Ingresar Auto Nuevo</a>
    <h1>Listado de Autos</h1>
    <form action="{% url 'autos' %}" method="GET">
        {{formulario}}
        <input type="submit" value ="Buscar">
    </form>
    {% if autos %}
    <ul>
        {% for auto in autos %}
            {% comment %} {% if auto.nafta > 3 %}
                <li style="color: green">{{auto}}</li>
            {% else %}
            
                <li style="color: red">{{auto}}</li> {% endcomment %}
            <li>{{auto}} 
                |<a href= {% url 'ver_auto' auto.id %}>Ver</a>
                |<a href= {% url 'eliminar_auto' auto.id %}>Eliminar</a> 
                |<a href= {% url 'editar_auto' auto.id %}>Editar</a> 
            </li>
            {% comment %} {% endif %} {% endcomment %}
            
        {% endfor %}
    </ul>
    {% else %}
    <p> No se encontro la patente cargada </p>
    {% endif %}
    
            
{% endblock main %}