{% extends "base.html" %}

{% block h1_header %}
<h1>Crear Auto</h1>
{% endblock h1_header %}

{% block main %}
    

    <form action={%url "crear_auto"%} method="POST">
        {% csrf_token %}
        {% comment %} <p>
            Nombre
            <input type="text" name="nombre">
        </p>    
        <p>
            Apellido
            <input type="text" name="apellido">
        </p>
        <p>
            Edad
            <input type="number" name="edad">
        </p> {% endcomment %}
        <table>
            {{formulario}}
        </table>
        <input type="submit" value="Crear Auto">    
    </form>
{% endblock main %}